@keyframes vibrate {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.vibrate {
    animation: vibrate 2s ease-in-out infinite;
}