:root {
    --bgColor1: #06a180;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Saira', sans-serif;
}

p,
li,
label,
input,
textarea,
button {
    font-weight: normal;
}

a {
    text-decoration: none;
}

input:focus,
textarea:focus {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}
